.card {
  width: 18rem;
  background: white;
}

.card-link {
  color: white;
  text-decoration: none;
}

.card-link:hover {
  text-decoration: underline;
  color: white;
}

.card-toggle {
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all cubic-bezier(0.2, 0.9, 0.9, 1) 300ms;
}

.card-toggle:hover {
  cursor: pointer;
}

.card-completed {
  background: #39c554;
  left: calc(100% - 30px);
}

.card-not-completed {
  background: #ef6466;
  left: -10px;
}

.card-delete-button {
  background: #ef6466;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;

  box-shadow: 0 0 2px rgba(0, 0, 0, 1);
  transition: all 0.3s ease;
}

.card-delete-button:hover {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.7);
  background: hsl(0, 100%, 55%);
  border-radius: 35%;
}