.card {
  width: 18rem;
  background: #191933;
  border: none;
}

.card-link {
  color: white;
  text-decoration: none;
}

.card-link:hover {
  text-decoration: underline;
  color: white;
}

.card-toggle {
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all cubic-bezier(0.2, 0.9, 0.9, 1) 300ms;
}

.card-toggle:hover {
  cursor: pointer;
}

.card-completed {
  background: #545cff;
  left: calc(100% - 30px);
}

.card-not-completed {
  background: #00C895;
  left: -10px;
}

.card-delete-button {
  background: #545cff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card-delete-button:hover {
  background: #00C895;
  border-radius: 35%;
}