.grid-container {
  display: grid;
  background-color: #11111a;
}

.img-item {
  grid-column: 1;
  grid-row: 1 / span 2;
  align-items: center;
}

@media screen and (min-width: 768px) {

  .img-item {
    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
  }
  
  .author-item {
    grid-column: 3;
    grid-row: 1;
  }
  
  .title-item {
    grid-column: 3;
    grid-row: 2;
  }
  
  .description-item {
    grid-column: 3;
    grid-row: 3;
  }
  
  .priority-toggle-container-item {
    grid-column: 1 / span 3;
    grid-row: 5;
  }
  
  .button-item {
    grid-column: 1 / span 3;
    grid-row: 6;
  }

  .button-item {
    grid-column: 3;
    grid-row: 7;
  }
}
