.completed {
  position: relative;
}

.completed::after {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0.5em;
  top: -50%;
  bottom: -50%;
  left: -10px;
  right: -10px;
  z-index: 1;
}

.priority-wrapper {
  background: #11111a;
}

.priority-track {
  background: #00C895;
  padding: 0.25em 0;
  margin: 0 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
}

.priority-thumb {
  background: #00C895;
  border: 5px solid #11111a;
  width: 40px;
  height: 40px;
  cursor: grab;

  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

.priority-thumb h3 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #11111a;
}

.thumb-icon {
  transition: all 300ms ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
}