.completed {
  position: relative;
}

.completed::after {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0.5em;
  top: -50%;
  bottom: -50%;
  left: -10px;
  right: -10px;
  z-index: 1;
}

.priority-track {
  background: #000;
  padding: 0.5em 0;
  margin: 0 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
}

.priority-thumb {
  background: #000;
  border: 3px solid white;
  font-size: 2.5em;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;

  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

.thumb-icon {
  transition: all 300ms ease-in;
}