.text-area {
  resize: none;
  overflow: hidden;
  background: transparent;

  outline: none;

  transition: all 100ms ease-in;
}

.text-area:focus {
  background: #000;
  border-radius: 0.125em;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}