.text-area {
  resize: none;
  overflow: hidden;
  background: transparent;

  outline: 1px solid transparent;
  border: 1px solid transparent;
  border-left: 15px solid #00C895 !important;
  border-radius: 15px;

  max-height: 100px;
  overflow-y: auto;

  transition: all 300ms ease-in;
}

.text-area:focus, .text-area:active {
  outline: 1px solid #00C895;
  border-radius: 0.25em !important;
  box-shadow:
    3px 3px 3px hsl(220deg 0% 0% / 0.3) !important;
}