@import 'main.min.css';

:root {
  --background: #111;
}

/* ========== Media Queries ==========  */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: var(--background);
  }
}

@media screen and (min-width: 992px) {
  .text-lg-start {
    text-align: start;
  }
}