@import 'main.min.css';

:root {
  --background: #111;
}

/* ========== Colors ==========  */
.one {
  color: limegreen;
}

.two {
  color: lightgreen;
}

.three {
  color: cornflowerblue;
}

.four {
  color: crimson;
}

.five {
  color: red;
}

.app-shadow-close {
  box-shadow:
    3px 3px 3px hsl(220deg 0% 0% / 0.3);
}

.app-shadow {
  box-shadow:
    1px 2px 2px hsl(220deg 0% 0% / 0.333),
    2px 4px 4px hsl(220deg 0% 0% / 0.333),
    3px 6px 6px hsl(220deg 0% 0% / 0.333);
}

.blur {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  filter: blur(10px);
  inset: 0;
  z-index: -1;
}

.tooltip {
  max-width: 200px;
  border: #00C895 1px solid !important;
  border-radius: 1em !important;

  animation: tooltipAnimation 5s ease-in-out infinite;
}

.tooltip::before {
  border-top-color: #00C895 !important;
}

@keyframes tooltipAnimation {
  0% { translate: 0 0; }
  50% { translate: 0 5px; }
  100% { translate: 0 0; }
}

/* ========== Media Queries ==========  */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: linear-gradient(135deg, #99c1ff, #8d64ff, #545cff);
    min-height: 100vh;
    position: relative;
  }
}

@media screen and (min-width: 992px) {
  .text-lg-start {
    text-align: start;
  }

  .rounded-lg {
    border-radius: 0.5em;
  }
}