@import 'main.min.css';

:root {
  --background: #111;
}

/* ========== Colors ==========  */
.one {
  color: limegreen;
}

.two {
  color: lightgreen;
}

.three {
  color: cornflowerblue;
}

.four {
  color: crimson;
}

.five {
  color: red;
}

/* ========== Media Queries ==========  */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: #1c2483;
    min-height: 100vh;
    position: relative;
  }
}

@media screen and (min-width: 992px) {
  .text-lg-start {
    text-align: start;
  }
}